* {
    box-sizing: border-box;
    font-size: 20px;   
}

.head {
    height: 120px;
    width: 80%;
}

.profile_image {
    float: left;
    width: 100px;
    padding-bottom: 10px;
}

.name {
    float: right;
    border: none;
    text-align: end;
    font-size: 25px;
}

.main_image_container {
    width: 100%;
    min-height: 200px;
}

.main_image {
    width: 80%;
    margin: 50px;
}

.works_title {
    font-family: "Lucida Sans Unicode";
    color: rgb(80, 101, 117);
    font-size: 50px;
    padding-left: 50px;
    width: 100%;
    display: inline-block;
}

.works{
    width: 377px;
    height: 330px;
    float: left;
    padding: 20px;
}

.works_imges{
    width: 100%;
    height: 65%;
}

.works_descriptions{
    font-family: 'Trebuchet MS', cursive;
    color: #21508d;
}

.works_links{
    color:#173d69;
    text-decoration:none;
}

@media (min-width: 620px){
    .margin{
        margin-left: 140px;
    }
    .head{
        border-bottom: 2px solid #14628f;
    }
}